*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    text-decoration: none;
    list-style: none;
    margin-right: 25px;
    margin-top: 10px;
}
.nav-item{
    text-decoration: none;
    display: block;
    color: black;
}
span{
    display: block;
}
p{
    text-align: left;
}
h1{
    font-size: 4.5em;
    text-align: left;
}
h2{
    font-size: 2em ;
}
img{
    display: block;
    width: 100%;
}
label{
    margin-right: 20px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgb(255, 255, 255);
    height: 70px;
    padding: 5px;
}
.btn{
    background-color:#0061FF ;
    color: white;
    padding: 6px 10px;
    display: inline-block;
}
.btn-white{
    border: 1px solid #000000;
    background-color: #ffffff;
    color: #000000 ;
    padding: 6px 10px;
    display: inline-block;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px 0px;
}
.container-small{
    max-width: 1000px;
    margin: 0 auto;
    padding: 5px 0px;
}
.mb30{
    margin-bottom: 30px;
}
.mb20{
    margin-bottom: 20px;
}
.mb10{
    margin-bottom: 10px;
}
.mese{
    color: #746F80;
}
.line{
    border: 1px solid #746F80;
    max-width: 45px;
}
#hero{
    background-color:#B4D0E7 ;
    margin-bottom: 100px;
}
#hero .container{
    padding-top: 50px;
    position: relative;
    bottom: -70px;
}
.hero-left{
    width: 35%;
}
.hero-right{
    width: 65%;
}
#piani.container{
    margin-top: 100px;
}
.plan{
    width: calc(100% / 3 - 20px);
    border: 1px solid #666;
}
.plan-body{
    padding: 10px;
}
.plan-header{
    text-align: center;
    border-bottom: 1px solid #666;
    padding: 10px;
}
.enterprise{
    text-align: center;
    border: 1px solid #666;
}
.enterprise-left{
    width: 60%;
}

.margin-right20{
    margin-top: 20px;
    margin-right: 20px;
}
.margin-left20{
    margin-top: 20px;
    margin-left: 20px;
}
.txt-align{
    text-align: left;
}
.partner-right{
    margin-left: 20px;
    width: 45%;
    position: relative;
    top: 40px;
}

/* FLEX  */
.d-flex{
    display: flex;
    flex-direction: row;
}
.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
    align-content: center;
}
.align.start{
    align-items: flex-start;
    align-content: flex-start;
}
