*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Fredoka', sans-serif;

    font-family: 'Noto Sans Linear B', sans-serif;

    font-family: 'Nunito', sans-serif;
}
li{
    text-decoration: none;
    list-style: none;
    margin-right: 25px;
    margin-top: 10px;
}
.nav-item{
    text-decoration: none;
    display: block;
    color: black;
}
span{
    display: block;
}
p{
    text-align: left;
}
h1{
    font-size: 4.5em;
    text-align: left;
}
h2{
    font-size: 2em ;
}
img{
    display: block;
    width: 100%;
}
label{
    margin-right: 20px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgb(255, 255, 255);
    height: 70px;
    padding: 5px;
}
.btn{
    background-color:#0061FF ;
    color: white;
    padding: 6px 10px;
    display: inline-block;
}
.btn-white{
    border: 1px solid #000000;
    background-color: #ffffff;
    color: #000000 ;
    padding: 6px 10px;
    display: inline-block;
    text-decoration: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px 0px;
}
.container-small{
    max-width: 1000px;
    margin: 0 auto;
    padding: 5px 0px;
}
.container-brand{
    max-width: 1000px;
    min-height: 200px;
    margin: 0 auto;
    padding: 80px 0px;
}
.mb80{
    margin-bottom: 80px;
}
.mb60{
    margin-bottom: 60px;
}
.mb30{
    margin-bottom: 30px;
}
.mb20{
    margin-bottom: 20px;
}
.mb10{
    margin-bottom: 10px;
}
.mese{
    color: #746F80;
}
.line{
    border: 1px solid #746F80;
    max-width: 45px;
}
#hero{
    background-color:#B4D0E7 ;
    margin-bottom: 100px;
}
#hero .container{
    padding-top: 50px;
    position: relative;
    bottom: -70px;
}
.hero-left{
    width: 35%;
}
.hero-right{
    width: 65%;
}
#piani.container{
    margin-top: 100px;
}
.plan{
    width: calc(100% / 3 - 20px);
    border: 1px solid #666;
}
.plan-heigt{
    height: 150px;
}
.plan-body{
    padding: 10px;
}
.plan-header{
    text-align: center;
    border-bottom: 1px solid #666;
    padding: 10px;
}
.enterprise{
    text-align: center;
    border: 1px solid #666;
}
.enterprise-left{
    width: 60%;
}

.margin-right20{
    margin-top: 20px;
    margin-right: 20px;
}
.margin-left20{
    margin-top: 20px;
    margin-left: 20px;
}
.txt-align{
    text-align: left;
}
.img-partner{
    width: 85%;
}
.partner-right{
    width: 45%;
    position: relative;
    top: 40px;
}
.business{
    width: calc(100% / 3 - 20px);
    padding: 6px 20px;
}
.brand-wrapper{
    width: calc(100% / 3);
    height: calc(100vw / 3);
}
.brand1{
    width: 50%;
    height: 50%;
    background-color: #A2D39B;
    border: 10px solid lightgray;
}
.brand2{
    width: 50%;
    height: 50%;
    background-color: #61082B;
}
.brand3{
    width: 50%;
    height: 50%;
    background-color: #0093CE;
}
.brand4{
    width: 50%;
    height: 50%;
    background-color: #FF1C1C;
}
.brand5{
    width: 50%;
    height: 50%;
    background-color: #D5001F;
}
.brand6{
    width: 50%;
    height: 50%;
    background-color: #B4D0E7;
}
.brand7{
    width: 50%;
    height: 50%;
    background-color: #0D2481;
}
.brand8{
    width: 50%;
    height: 50%;
    background-color: #FFD830;
}
.brand-img{
    display: block;
    fill: #ffffff;
    width: 50%;
    margin-left: 25%;
}
.brand-img-florida{
    display:block;
    width: 75%;
    height: 10%;
    margin-top: 50%;
    margin-left: 10%;
}
.brand-img-center{
    display: block;
    margin: 30px 40px;
    margin-top: 20px;
    width: 50%;
}
.brand-center{
    margin: 30px 40px;
}
.under-brand{
    background-color: #B4D0E7;
}
.text-brand{
    color: #61082B;
}
.faq{
    margin-top: 70px;
    margin-bottom: 60px;
}
.footer-box{
    min-height: 200px;
    background-color: #000000;

}
.footer-ul{
    margin: 50px 30px;
    color: #ffffff;
}
/* FLEX  */
.d-flex{
    display: flex;
    flex-direction: row;
}
.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
    align-content: center;
}
.align.start{
    align-items: flex-start;
    align-content: flex-start;
}
.flex-wrap{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}